<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="inspire2connect.inspire2connect">

    <application
        android:allowBackup="true"
        android:appComponentFactory="whateverString"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".contactTracer.BluetoothApplication"
        tools:replace="android:appComponentFactory">
        <activity android:name=".QuestionsActivity"></activity>
<!--        <activity android:name=".firstPageActivity"></activity>-->
        <activity android:name=".homeActivity" />
<!--        <activity android:name=".male_female_2" />-->
        <activity android:name=".WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".maleFemaleActivity" />
        <activity android:name=".text2speech2_2Activity" />
        <activity android:name=".aboutActivity" />
        <activity android:name=".onAIrActivity" />
<!--        <activity android:name=".add_new" />-->
<!--        <activity android:name=".improveActivity" />-->
<!--        <activity android:name=".Text2SpeechActivity" />-->
<!--        <activity android:name=".Infographic" />-->
        <activity android:name=".dailyGuidelinesActivity" />
        <activity android:name=".mythsActivity" />
<!--        <activity android:name=".daily_updates" />-->
        <activity android:name=".governmentUpdatesActivity" />
        <activity android:name=".urlActivity" />

        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".selectChatBotActivity"></activity>
        <activity android:name=".selectMiscActivity"></activity>
        <activity android:name=".detailedViewActivity"></activity>
        <activity android:name=".InfographicsActivity"></activity>

<!--        Contact Tracer-->

<!--        <activity-->
<!--            android:name=".contactTracer.SettingsActivity"-->
<!--            android:label="@string/title_activity_settings"></activity>-->

<!--        <activity android:name=".contactTracer.InteractionsActivity" />-->

        <activity android:name=".contactTracer.MainActivity"/>

        <activity android:name=".contactTracer.PhoneAuthActivity" />
        
        <meta-data
            android:name="firebase_messaging_auto_init_enabled"
            android:value="false" />

        <meta-data
            android:name="firebase_analytics_collection_enabled"
            android:value="false" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />

        <service
            android:name=".contactTracer.bluetooth.BluetoothService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".contactTracer.firebase.FirebaseInstanceService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service
            android:name=".contactTracer.firebase.FirebaseBroadcastReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>



    </application>
<!--    TODO: Why-->
    <uses-feature android:name="android.hardware.location.gps" />

    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

<!--    TODO: Why?-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

</manifest>