<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="inspire2connect.inspire2connect">

    <application
        android:allowBackup="true"
        android:appComponentFactory="whateverString"
        android:icon="@mipmap/app_icon_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_icon_round_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".contactTracer.BluetoothApplication"
        tools:replace="android:appComponentFactory">
        <activity android:name=".symptom_activity"></activity>
        <activity android:name=".QuestionsActivity"></activity>
        <activity android:name=".ResultActivity"></activity>
        <activity android:name=".FirstPage"></activity>
        <activity android:name=".privacy_policy"></activity>
        <activity android:name=".Home_Activity" />
        <activity android:name=".male_female_2" />
        <activity android:name=".WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Male_Female" />
        <activity android:name=".text2speech2_2" />
        <activity android:name=".about" />
        <activity android:name=".CardViewActivity" />
        <activity android:name=".add_new" />
        <activity android:name=".Improve" />
        <activity android:name=".Text2Speech2" />
        <activity android:name=".InfoGraphic" />
        <activity android:name=".daily_guidelines" />
        <activity android:name=".Myths" />
        <activity android:name=".daily_updates" />
        <activity android:name=".Government_Updates" />
        <activity android:name=".map_activity" />

        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".select_chatbot_activity"></activity>
        <activity android:name=".select_misc_activity"></activity>
        <activity android:name=".detailed_view"></activity>
        <activity android:name=".Infographics"></activity>

<!--        Contact Tracer-->

<!--        <activity-->
<!--            android:name=".contactTracer.SettingsActivity"-->
<!--            android:label="@string/title_activity_settings"></activity>-->

<!--        <activity android:name=".contactTracer.AboutActivity" />-->
<!--        <activity android:name=".contactTracer.InteractionsActivity" />-->

        <activity android:name=".contactTracer.MainActivity"/>

        <activity android:name=".contactTracer.PhoneAuthActivity" />

        <activity android:name=".select_chatbot_activity"></activity>
        <activity android:name=".select_misc_activity"></activity>
        <activity android:name=".detailed_view"></activity>
        <activity android:name=".Infographics"></activity>

        <meta-data
            android:name="firebase_messaging_auto_init_enabled"
            android:value="false" />

        <meta-data
            android:name="firebase_analytics_collection_enabled"
            android:value="false" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />

        <service
            android:name=".contactTracer.bluetooth.BluetoothService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".contactTracer.firebase.FirebaseInstanceService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service
            android:name=".contactTracer.firebase.FirebaseBroadcastReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>



    </application>
<!--    TODO: Why-->
    <uses-feature android:name="android.hardware.location.gps" />

    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

<!--    TODO: Why?-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

</manifest>